<p>Show The course details of <%=@course.id %></p>

<p><b>CourseName :</b><%= @course.name%></p>
<p><b>CourseDescription :</b><%= @course.description%></p>
<p><b>Courseprice :</b><%= @course.price%></p>