@import "bootstrap";
.navbar {
  background-color: #0e0404 !important;
}
.nav-link
{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}
body{
    background-color: rgb(247, 239, 230);
}
/* pagination styling */
