<footer class="footer fixed-bottom bg-dark py-3 text-white">
        <div class="container text-center">
            <small>Copyright &copy; <%= link_to "Mashrur Hossain", "https://mashrurhossain.com", class: "text-white" %></small>
        </div>
    </footer>